@import 'template/normalize'
@import 'template/variables'
@import 'template/grid'
@import 'template/header'
@import 'template/interfase'
@import 'template/fonts'
@import 'template/hero'

*, *:before, *:after
    box-sizing: border-box
body
    font-family: Futura Book, sans-serif
    font-size: 14px